# Function

In [4]:
def square():                    # Fuction header
    new_value = 4 ** 2           #Function Body
    print(new_value)
square()

16

# Fucntion Parameters

In [6]:
def square(value):
    new_value = value ** 2
    print(new_value)
    
square(5)                     # It takes the value into funtion body and print it

25

# Return Values

In [7]:
def square(value):
    new_value = value ** 2
    return new_value
num = square(10)
print(num)

100

# Docstrings

In [9]:
def square(value):
    """Return the square of any value"""
    new_value = value ** 2
    return new_value
num = square(15)
print(num)

225

In [10]:
def shout(word):
    """Print a string with three exclammation marks"""
    shout_word = word + '!!!'
    print(shout_word)
    
shout('Congratulations')

Congratulations!!!

In [13]:
def hello(greet):
    morning = greet + '!!!'
    return morning
new = hello('you')
print(new)

you!!!

# Multiple function parameters

In [15]:
def raise_to_power(value1, value2):
    """raise value1 to the power of value2"""
    new_value = value1 ** value2
    return new_value

result = raise_to_power(3,7)
print(result)

2187

# Tuples

1. Is like a list
2. Immutable- can't modify values!
3. Constructed using parentheses()

In [18]:
even_nums = (2, 4, 6)
a, b, c = even_nums
print(a)
print(b)
print(c)

2
4
6

In [20]:
print(even_nums[0])
print(even_nums[1])

2
4

In [33]:
def raise_both(value1, value2):
    """Return value1 to the power value2 and vice versa"""
    new_value_1 = value1 ** value2
    new_value_2 = value2 ** value1
    new_tuple = (new_value_1, new_value_2)
    return new_tuple
result = raise_both(2, 3)
print(result)

(8, 9)

In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
tweet = pd.read_csv('/Users/mishudhar/Downloads/Python Data Science ToolBox/tweets.csv')

In [25]:
tweet.head()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
0,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...","{'media': [{'sizes': {'large': {'w': 1024, 'h'...",0,False,low,NaN,714960401759387648,...,NaN,NaN,0,False,"{'retweeted': False, 'text': "".@krollbondratin...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @bpolitics: .@krollbondrating's Christopher...,1459294817758,False,"{'utc_offset': 3600, 'profile_image_url_https'..."
1,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [{'text': 'cruzsexscandal', 'indi...","{'media': [{'sizes': {'large': {'w': 500, 'h':...",0,False,low,NaN,714960401977319424,...,NaN,NaN,0,False,"{'retweeted': False, 'text': '@dmartosko Cruz ...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @HeidiAlpine: @dmartosko Cruz video found.....,1459294817810,False,"{'utc_offset': None, 'profile_image_url_https'..."
2,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402426236928,...,NaN,NaN,0,False,NaN,"<a href=""http://www.facebook.com/twitter"" rel=...",Njihuni me Zonjën Trump !!! | Ekskluzive https...,1459294817917,False,"{'utc_offset': 7200, 'profile_image_url_https'..."
3,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402367561730,...,7.149239e+17,7.149239e+17,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",Your an idiot she shouldn't have tried to grab...,1459294817903,False,"{'utc_offset': None, 'profile_image_url_https'..."
4,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...",NaN,0,False,low,NaN,714960402149416960,...,NaN,NaN,0,False,"{'retweeted': False, 'text': 'The anti-America...","<a href=""http://twitter.com/download/iphone"" r...",RT @AlanLohner: The anti-American D.C. elites ...,1459294817851,False,"{'utc_offset': -18000, 'profile_image_url_http..."

In [26]:
# Initialize an empty dictioanry: langs_count
langs_count = {}

In [27]:
list(tweet.columns)

['contributors',
 'coordinates',
 'created_at',
 'entities',
 'extended_entities',
 'favorite_count',
 'favorited',
 'filter_level',
 'geo',
 'id',
 'id_str',
 'in_reply_to_screen_name',
 'in_reply_to_status_id',
 'in_reply_to_status_id_str',
 'in_reply_to_user_id',
 'in_reply_to_user_id_str',
 'is_quote_status',
 'lang',
 'place',
 'possibly_sensitive',
 'quoted_status',
 'quoted_status_id',
 'quoted_status_id_str',
 'retweet_count',
 'retweeted',
 'retweeted_status',
 'source',
 'text',
 'timestamp_ms',
 'truncated',
 'user']

In [28]:
tweet['lang']

0     en
1     en
2     et
3     en
4     en
      ..
95    en
96    en
97    en
98    en
99    en
Name: lang, Length: 100, dtype: object

In [32]:
# Easiest way
dict(tweet['lang'].value_counts())

{'en': 97, 'und': 2, 'et': 1}

In [31]:
# Extract column from dataFrame : col
col = tweet['lang']
# Iterate over lang column
for entry in col:
    #if the language is in langs_count, add 1
    if entry in langs_count.keys():
        langs_count[entry] += 1
        # Else add the langauge to langs_count, set the value to 1
    else:
        langs_count[entry] = 1
        
print(langs_count)

{'en': 194, 'et': 2, 'und': 4}

In [39]:
# define count_entries()
def count_entries(df, col_name):
    """Return a dictionary with count of occurencecs as value for each key."""
    # Intialize an empty dictionary: langs_count
    langs_count = {}
    # Extract column from DataFrame: col
    col = df[col_name]
    # Iterate overlang column in DataFrame
    for entry in col:
        # If the language is in langs_count, add 1
        if entry in langs_count.keys():
            langs_count[entry] += 1
        # Else add the language to langs_count, set thye value to 1
        else:
            langs_count[entry] = 1
    # Return the langs_count dictionary        
    return langs_count

#Call the count_entries: result
result = count_entries(tweet, 'lang')

# Print the result
print(result)

{'en': 97, 'et': 1, 'und': 2}

# Scope and user defined function

In [40]:
new_val = 10                   # Global Scope
def square(value):
    new_val = value ** 2       # Local scope
    return new_val
square(3)

9

In [41]:
new_val

10

If python doesn't find the value in local scope then it will search in Global scope. Following the case, it found the value in the local space

In [44]:
new_val = 10
def square(value):
    """return the square of a vlaue"""
    new_val2 = new_val ** 2
    return new_val2
square(3)

100

In [45]:
def square(value1, value2):
    """Return the square of a value and vice versa"""
    new_val_1 = value1 ** value2
    new_val_2 = value2 ** value1
    new_val = (new_val_1, new_val_2)
    return new_val
square(2,3)

(8, 9)

In [47]:
new_val = 1000000
def square(value):
    """Return the square"""
    global new_val
    new_val = new_val ** 2
    return new_val
square(4)

1000000000000

In [52]:
def fun1():
    num = 3
    print(num)

In [51]:
def fun2():
    global num
    duble_num = num ** 2
    num = 6
    print(duble_num)

In [54]:
fun1()

3

In [55]:
fun2()

50625

In [63]:
team = 'teen titans'

# define change_team():
def change_team():
    """Change the value of the global varaiable team"""
    # Use team in gloal space
    global team
    
    # Change the value of team in global: team
    team = 'justice league'
# Print team
print(team)

# Call change_team()
change_team()
# Print team
print(team)

teen titans
justice league

In [64]:
1 % 2

1

# Nested function

In [67]:
def mod2plus5(x1, x2, x3):
    """Return the remainder plus 5 pf three values"""
    
    def inner(x):
        """Returns the remainder plus 5 of three values"""
        return x % 2 + 5
    return (inner(x1), inner(x2), inner(x3))

print(mod2plus5(1,2,3))

(6, 7, 5)

In [66]:
3 % 2

1

In [72]:
def raise_val(n):
    """Return the inner function"""
    
    def inner(x):
        """Raise x to the power n."""
        raised = x ** n
        return raised
    
    return inner

In [80]:
square = raise_val(2)
qube = raise_val(3)

In [81]:
print(square(2))
print(qube(3))

4
27

In [82]:
print(square(3))

9

In [84]:
def echo(n):
    """Return the inner_echo function"""
    
    #Define inner_echon function
    def inner_echo(word1):
        """Concatenate n copies of word1."""
        echo_word = word1 * n
        return echo_word
    
    #Return inner_echo
    return inner_echo

# Call echo: twice
twice = echo(2)

# Call echo : thrice
thrice = echo(3)

# Call twice() and thrice() then print
print(twice('Hello'))
print(thrice('Hello'))

HelloHello
HelloHelloHello

In [85]:
def mul(a,b):
    f = a * b
    return f
a = mul(2,3)
print(a)

6

In [94]:
def multiplication(X):
    """multiply"""
    def mul(a):
        X = b * c
        b = 2
        c = 3
        return X
    return multiplication

multiplication(X)

NameError: name 'X' is not defined

In [108]:
def echo_shout(word):
    """Chenge the value of a nonlocal variable"""
    
    # Concatenate word with itself: echo_word
    echo_word = word * 2
    
    # print echo_word
    print(echo_word)
    
    # Define inner funtion shout()
    def shout():
        """Alter a variable in the enclosing scope"""
        
        # Use echow_word in nonlocal scope
        nonlocal echo_word
        
        # Change echo_word to echo_word concatinate with '!!!'
        echo_word = echo_word + '!!!'
        
    # Call function shout()
    shout()
    
    # Print echo_word
    print(echo_word)
    
# Call the function echo_shout() with argument 'hello'
echo_shout('hello')

hellohello
hellohello!!!

# Default argument

In [113]:
def power(number, pow = 1):
    """Raise to the power"""
    new_value = number ** pow
    return new_value
a = power(2,3)
b = power(2) # While no argument is inserted it takes 1 as a defualt argument
print(a)
print(b)

8
2

# flexible arguments

In [121]:
def add_all(*args):
    """Sum all values in *args together."""
    
    # Initialize sum
    sum_all = 0
    
    # Accumulate the sum
    for num in args:
        sum_all += num
        
    return sum_all

add_all(1,2,3,4,5)

15

In [119]:
tuple(list(range(1,10)))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

# Flexible arguments: **kargs

In [122]:
def print_all(**kwargs):
    """Print out key value pairs in **kwargs"""
    
    # Print out key value pairs
    for key, value in kwargs.items():
        print(key + ": " + value)
        
print_all(name = 'Mishu', job = 'JobSeeker')

name: Mishu
job: JobSeeker

In [124]:
# Define shout_echo():
def shout_echo(word1, echo = 1):
    """concatenate echo copies of word1 and three exclamation marks at the end of the string"""
    
    echo_word = word1 * echo
    
    shout_word = echo_word + '!!!'
    
    return shout_word

no_echo = shout_echo('Hey')
with_echo = shout_echo("hey", echo = 5)
print(no_echo)
print(with_echo)

Hey!!!
heyheyheyheyhey!!!

In [126]:
def Shout_echo(word1, echo = 1, intense = False):
    
    echo_word = word1 * echo
    
    if intense is True:
        echo_word_new = echo_word.upper() + '!!!'
    else:
        echo_word_new = echo_word + '!!!'
    return echo_word_new

with_big_echo = Shout_echo('Hey', echo = 5, intense = True)
no_big_echo = Shout_echo('hey', echo = 3, intense = False)
print(with_big_echo)
print(no_big_echo)

HEYHEYHEYHEYHEY!!!
heyheyhey!!!

In [127]:
def aulfoul(*args):
    
    # Intitiallize an empty string
    hodgepodge = ('')
    
    for word in args:
        hodgepodge += word
        
    return hodgepodge

one_word = aulfoul('Mishu')
many_word = aulfoul('Mishu', 'Mumu', 'Mantra', 'Miti')
print(one_word)
print(many_word)

Mishu
MishuMumuMantraMiti

In [129]:
def report_status(**kwargs):
    
    print("\nBEGIN: REPORT\n")
    
    for key, value in kwargs.items():
        print(key + ": " + value)
        
    print("\nEND REPORT")
    
report_status(name = 'Luke', affiliation = 'Jedi', status = 'Missing')
report_status(name = 'Mumu', Status = 'Forever', Place = 'In heart' )

BEGIN: REPORT

name: Luke
affiliation: Jedi
status: Missing

END REPORT

BEGIN: REPORT

name: Mumu
Status: Forever
Place: In heart

END REPORT

In [130]:
tweet.head()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
0,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...","{'media': [{'sizes': {'large': {'w': 1024, 'h'...",0,False,low,NaN,714960401759387648,...,NaN,NaN,0,False,"{'retweeted': False, 'text': "".@krollbondratin...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @bpolitics: .@krollbondrating's Christopher...,1459294817758,False,"{'utc_offset': 3600, 'profile_image_url_https'..."
1,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [{'text': 'cruzsexscandal', 'indi...","{'media': [{'sizes': {'large': {'w': 500, 'h':...",0,False,low,NaN,714960401977319424,...,NaN,NaN,0,False,"{'retweeted': False, 'text': '@dmartosko Cruz ...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @HeidiAlpine: @dmartosko Cruz video found.....,1459294817810,False,"{'utc_offset': None, 'profile_image_url_https'..."
2,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402426236928,...,NaN,NaN,0,False,NaN,"<a href=""http://www.facebook.com/twitter"" rel=...",Njihuni me Zonjën Trump !!! | Ekskluzive https...,1459294817917,False,"{'utc_offset': 7200, 'profile_image_url_https'..."
3,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402367561730,...,7.149239e+17,7.149239e+17,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",Your an idiot she shouldn't have tried to grab...,1459294817903,False,"{'utc_offset': None, 'profile_image_url_https'..."
4,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...",NaN,0,False,low,NaN,714960402149416960,...,NaN,NaN,0,False,"{'retweeted': False, 'text': 'The anti-America...","<a href=""http://twitter.com/download/iphone"" r...",RT @AlanLohner: The anti-American D.C. elites ...,1459294817851,False,"{'utc_offset': -18000, 'profile_image_url_http..."

In [131]:
list(tweet.columns)

['contributors',
 'coordinates',
 'created_at',
 'entities',
 'extended_entities',
 'favorite_count',
 'favorited',
 'filter_level',
 'geo',
 'id',
 'id_str',
 'in_reply_to_screen_name',
 'in_reply_to_status_id',
 'in_reply_to_status_id_str',
 'in_reply_to_user_id',
 'in_reply_to_user_id_str',
 'is_quote_status',
 'lang',
 'place',
 'possibly_sensitive',
 'quoted_status',
 'quoted_status_id',
 'quoted_status_id_str',
 'retweet_count',
 'retweeted',
 'retweeted_status',
 'source',
 'text',
 'timestamp_ms',
 'truncated',
 'user']

In [137]:
# define count_entries
# 'lang' (Language) column as a defa
def count_entries(df, col_name = 'lang'):
    """return a dictionary with counts of occurrences as value for each key"""
    
    # Initialize an empty dictionary: col_count
    cols_count = {}
    
    # Extract column from DataFrame : col
    col = df[col_name]
    
    # Iterate over the column in DataFrame
    for entry in col:
        if entry in cols_count.keys():
            cols_count[entry] += 1
            
        else:
            cols_count[entry] = 1
            
    return cols_count

result_1 = count_entries(df = tweet)
result_2 = count_entries(df = tweet, col_name = 'source')
print(result_1)

{'en': 97, 'et': 1, 'und': 2}

In [143]:
print(result_2)

{'<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>': 24, '<a href="http://www.facebook.com/twitter" rel="nofollow">Facebook</a>': 1, '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>': 26, '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>': 33, '<a href="http://www.twitter.com" rel="nofollow">Twitter for BlackBerry</a>': 2, '<a href="http://www.google.com/" rel="nofollow">Google</a>': 2, '<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a>': 6, '<a href="http://linkis.com" rel="nofollow">Linkis.com</a>': 2, '<a href="http://rutracker.org/forum/viewforum.php?f=93" rel="nofollow">newzlasz</a>': 2, '<a href="http://ifttt.com" rel="nofollow">IFTTT</a>': 1, '<a href="http://www.myplume.com/" rel="nofollow">Plume\xa0for\xa0Android</a>': 1}

In [144]:
len(result_2)

11

In [148]:
alternative = dict(tweet['source'].value_counts())
alternative

{'<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>': 33,
 '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>': 26,
 '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>': 24,
 '<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a>': 6,
 '<a href="http://www.twitter.com" rel="nofollow">Twitter for BlackBerry</a>': 2,
 '<a href="http://www.google.com/" rel="nofollow">Google</a>': 2,
 '<a href="http://linkis.com" rel="nofollow">Linkis.com</a>': 2,
 '<a href="http://rutracker.org/forum/viewforum.php?f=93" rel="nofollow">newzlasz</a>': 2,
 '<a href="http://www.facebook.com/twitter" rel="nofollow">Facebook</a>': 1,
 '<a href="http://ifttt.com" rel="nofollow">IFTTT</a>': 1,
 '<a href="http://www.myplume.com/" rel="nofollow">Plume\xa0for\xa0Android</a>': 1}

In [154]:
type(alternative)

dict

In [160]:
import pandas as pd
source_df = pd.DataFrame(result_2, index = [0])
source_df

,"<a href=""http://twitter.com"" rel=""nofollow"">Twitter Web Client</a>","<a href=""http://www.facebook.com/twitter"" rel=""nofollow"">Facebook</a>","<a href=""http://twitter.com/download/android"" rel=""nofollow"">Twitter for Android</a>","<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","<a href=""http://www.twitter.com"" rel=""nofollow"">Twitter for BlackBerry</a>","<a href=""http://www.google.com/"" rel=""nofollow"">Google</a>","<a href=""http://twitter.com/#!/download/ipad"" rel=""nofollow"">Twitter for iPad</a>","<a href=""http://linkis.com"" rel=""nofollow"">Linkis.com</a>","<a href=""http://rutracker.org/forum/viewforum.php?f=93"" rel=""nofollow"">newzlasz</a>","<a href=""http://ifttt.com"" rel=""nofollow"">IFTTT</a>","<a href=""http://www.myplume.com/"" rel=""nofollow"">Plume for Android</a>"
0,24,1,26,33,2,2,6,2,2,1,1

In [161]:
language = pd.DataFrame(result_1, index = [0])
language

   en  et  und
0  97   1    2

In [163]:
def count_entries(df, *args):
    
    cols_count = {}
    
    for col_name in args:
        col = df[col_name]
        
        for entry in col:
            if entry in cols_count.keys():
                cols_count[entry] += 1
                
            else:
                cols_count[entry] = 1
    return cols_count

result1 = count_entries(tweet, 'lang')
result_2 = count_entries(tweet, 'lang', 'source')
print('Result_1: ', result_1)
print('result_2: ', result_2)

Result_1:  {'en': 97, 'et': 1, 'und': 2}
result_2:  {'en': 97, 'et': 1, 'und': 2, '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>': 24, '<a href="http://www.facebook.com/twitter" rel="nofollow">Facebook</a>': 1, '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>': 26, '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>': 33, '<a href="http://www.twitter.com" rel="nofollow">Twitter for BlackBerry</a>': 2, '<a href="http://www.google.com/" rel="nofollow">Google</a>': 2, '<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a>': 6, '<a href="http://linkis.com" rel="nofollow">Linkis.com</a>': 2, '<a href="http://rutracker.org/forum/viewforum.php?f=93" rel="nofollow">newzlasz</a>': 2, '<a href="http://ifttt.com" rel="nofollow">IFTTT</a>': 1, '<a href="http://www.myplume.com/" rel="nofollow">Plume\xa0for\xa0Android</a>': 1}

# Lambda function

In [164]:
raise_to_power = lambda x, y: x ** y
raise_to_power(2,3)

8

In [168]:
nums = [48, 6, 9, 21, 1]
square_all = map(lambda num: num ** 2, nums)
print(square_all)
print(list(square_all))

<map object at 0x7fea497e9610>
[2304, 36, 81, 441, 1]

In [170]:
spells = ['Mishu', 'Mumu', 'Mantra', 'Miti']

# Use map() to apply lambda function ovcer spells
shout_spells = map(lambda spells: spells + '!!!', spells)
# converting into list
shout_spells_list = list(shout_spells)
shout_spells_list

['Mishu!!!', 'Mumu!!!', 'Mantra!!!', 'Miti!!!']

In [174]:
big_name = ['Mishu', 'Mumu', 'Mantra', 'Miti']

call_big_name = filter(lambda name: len(name) > 2, big_name)
list_call_big_name = list(call_big_name)
list_call_big_name

['Mishu', 'Mumu', 'Mantra', 'Miti']

# error handling

In [176]:
def shout_echo(word1, echo = 1):
    
    # Raise an error with raise
    if echo < 0:
        raise ValueError('echo must be greater than or equal to 0')
        
    echo_word = word1 * echo
    shout_word = echo_word + '!!!'
    return shout_word
shout_echo('Mumu', echo = 100)

'MumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumuMumu!!!'

In [177]:
tweet.columns

Index(['contributors', 'coordinates', 'created_at', 'entities',
       'extended_entities', 'favorite_count', 'favorited', 'filter_level',
       'geo', 'id', 'id_str', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str', 'is_quote_status',
       'lang', 'place', 'possibly_sensitive', 'quoted_status',
       'quoted_status_id', 'quoted_status_id_str', 'retweet_count',
       'retweeted', 'retweeted_status', 'source', 'text', 'timestamp_ms',
       'truncated', 'user'],
      dtype='object')

In [178]:
tweet['text']

0     RT @bpolitics: .@krollbondrating's Christopher...
1     RT @HeidiAlpine: @dmartosko Cruz video found.....
2     Njihuni me Zonjën Trump !!! | Ekskluzive https...
3     Your an idiot she shouldn't have tried to grab...
4     RT @AlanLohner: The anti-American D.C. elites ...
                            ...
95    RT @claytoncubitt: Stop asking Bernie supporte...
96    Kasich is gonna fuck this up for Ted Cruz  htt...
97    RT @akaMaude13: Seriously can't make this up. ...
98    Kasich is gonna fuck this up for Ted Cruz  htt...
99    @marklevinshow try reporting this truth. https...
Name: text, Length: 100, dtype: object

In [184]:
# To check if the first two words of a tweet is RT
result = filter(lambda x: x[0:2] == 'RT', tweet['text'])
# Create a list from the result
result_list = list(result)
result_list

TypeError: string indices must be integers

A better apporoach

In [180]:
# To check if the first two words of a tweet is RT
result = filter(lambda x: x[0:2] == 'RT', tweet['text'])
# Create a list from the result
result_list = list(result)

for tweet in result_list:
    print(tweet)

RT @bpolitics: .@krollbondrating's Christopher Whalen says Clinton is the weakest Dem candidate in 50 years https://t.co/pLk7rvoRSn https:/…
RT @HeidiAlpine: @dmartosko Cruz video found.....racing from the scene.... #cruzsexscandal https://t.co/zuAPZfQDk3
RT @AlanLohner: The anti-American D.C. elites despise Trump for his America-first foreign policy. Trump threatens their gravy train. https:…
RT @BIackPplTweets: Young Donald trump meets his neighbor  https://t.co/RFlu17Z1eE
RT @trumpresearch: @WaitingInBagdad @thehill Trump supporters have selective amnisia.
RT @HouseCracka: 29,000+ PEOPLE WATCHING TRUMP LIVE ON ONE STREAM!!!

https://t.co/7QCFz9ehNe
RT @urfavandtrump: RT for Brendon Urie
Fav for Donald Trump https://t.co/PZ5vS94lOg
RT @trapgrampa: This is how I see #Trump every time he speaks. https://t.co/fYSiHNS0nT
RT @trumpresearch: @WaitingInBagdad @thehill Trump supporters have selective amnisia.
RT @Pjw20161951: NO KIDDING: #SleazyDonald just attacked Scott Walker for NOT RAISING TAXES in WI! #LyinTrump
#NeverTrump  #CruzCrew  https…
RT @urfavandtrump: RT for Brendon Urie
Fav for Donald Trump https://t.co/PZ5vS94lOg
RT @ggreenwald: The media spent all day claiming @SusanSarandon said she might vote for Trump. A total fabrication, but whatever... https:/…
RT @Pjw20161951: NO KIDDING: #SleazyDonald just attacked Scott Walker for NOT RAISING TAXES in WI! #LyinTrump
#NeverTrump  #CruzCrew  https…
RT @trapgrampa: This is how I see #Trump every time he speaks. https://t.co/fYSiHNS0nT
RT @mitchellvii: So let me get this straight.  Any reporter can assault Mr Trump at any time and Corey can do nothing?  Michelle is clearly…
RT @paulbenedict7: How #Trump Sacks RINO Strongholds by Hitting Positions Held by Dems and GOP https://t.co/D7ulnAJhis   #tcot #PJNET https…
RT @DRUDGE_REPORT: VIDEO:  Trump emotional moment with Former Miss Wisconsin who has terminal illness... https://t.co/qt06aG9inT
RT @ggreenwald: The media spent all day claiming @SusanSarandon said she might vote for Trump. A total fabrication, but whatever... https:/…
RT @DennisApgar: Thank God I seen Trump at first stop in Wisconsin media doesn't know how great he is, advice watch live streaming https://…
RT @paulbenedict7: How #Trump Sacks RINO Strongholds by Hitting Positions Held by Dems and GOP https://t.co/D7ulnAJhis   #tcot #PJNET https…
RT @DRUDGE_REPORT: VIDEO:  Trump emotional moment with Former Miss Wisconsin who has terminal illness... https://t.co/qt06aG9inT
RT @DennisApgar: Thank God I seen Trump at first stop in Wisconsin media doesn't know how great he is, advice watch live streaming https://…
RT @mitchellvii: So let me get this straight.  Any reporter can assault Mr Trump at any time and Corey can do nothing?  Michelle is clearly…
RT @sciam: Trump's idiosyncratic patterns of speech are why people tend either to love or hate him https://t.co/QXwquVgs3c https://t.co/P9N…
RT @Norsu2: Nightmare WI poll for Ted Cruz has Kasich surging: Trump 29, Kasich 27, Cruz 25. https://t.co/lJsgbLYY1P #NeverTrump
RT @thehill: WATCH: Protester pepper-sprayed point blank at Trump rally https://t.co/B5f65Al9ld https://t.co/skAfByXuQc
RT @sciam: Trump's idiosyncratic patterns of speech are why people tend either to love or hate him https://t.co/QXwquVgs3c https://t.co/P9N…
RT @ggreenwald: The media spent all day claiming @SusanSarandon said she might vote for Trump. A total fabrication, but whatever... https:/…
RT @DebbieStout5: Wow! Last I checked it was just 12 points &amp; that wasn't more than a day ago. Oh boy Trump ppl might want to rethink🤔 http…
RT @tyleroakley: i'm a messy bitch, but at least i'm not voting for trump
RT @vandives: Trump supporters r tired of justice NOT being served. There's no justice anymore. Hardworking Americans get screwed. That's n…
RT @AP: BREAKING: Trump vows to stand by campaign manager charged with battery, says he does not discard people.
RT @AP: BREAKING: Trump vows to stand by campaign manager charged with battery, says he does not discard people.
RT @urfavandtrump: RT for Jerrie (Little Mix)
Fav for Donald Trump https://t.co/nEVxElW6iG
RT @urfavandtrump: RT for Jerrie (Little Mix)
Fav for Donald Trump https://t.co/nEVxElW6iG
RT @NoahCRothman: When Walker was fighting for reforms, Trump was defending unions and collective bargaining privileges https://t.co/e1UWNN…
RT @RedheadAndRight: Report: Secret Service Says Michelle Fields Touched Trump https://t.co/c5c2sD8VO2

This is the only article you will n…
RT @AIIAmericanGirI: VIDEO=&gt; Anti-Trump Protester SLUGS Elderly Trump Supporter in the Face
https://t.co/GeEryMDuDY
RT @NoahCRothman: When Walker was fighting for reforms, Trump was defending unions and collective bargaining privileges https://t.co/e1UWNN…
RT @JusticeRanger1: @realDonaldTrump @Pudingtane @DanScavino @GOP @infowars @EricTrump
URGENT PUBLIC TRUMP ALERT:
COVERT KILL MEANS https:…
RT @AIIAmericanGirI: VIDEO=&gt; Anti-Trump Protester SLUGS Elderly Trump Supporter in the Face
https://t.co/GeEryMDuDY
RT @RedheadAndRight: Report: Secret Service Says Michelle Fields Touched Trump https://t.co/c5c2sD8VO2

This is the only article you will n…
RT @JusticeRanger1: @realDonaldTrump @Pudingtane @DanScavino @GOP @infowars @EricTrump
URGENT PUBLIC TRUMP ALERT:
COVERT KILL MEANS https:…
RT @Schneider_CM: Trump says nobody had ever heard of executive orders before Obama started signing them. Never heard of the Emancipation P…
RT @RonBasler1: @DavidWhitDennis @realDonaldTrump @tedcruz

CRUZ SCREWS HOOKERS

CRUZ / CLINTON
RT @DonaldsAngel: Former Ms. WI just said that she is terminally ill but because of Trump pageant, her 7 yr. old son has his college educat…
RT @Schneider_CM: Trump says nobody had ever heard of executive orders before Obama started signing them. Never heard of the Emancipation P…
RT @DonaldsAngel: Former Ms. WI just said that she is terminally ill but because of Trump pageant, her 7 yr. old son has his college educat…
RT @Dodarey: @DR8801 @SykesCharlie Charlie, let's see you get a straight "yes" or "no" answer from Cruz a/b being unfaithful to his wife @T…
RT @RonBasler1: @DavidWhitDennis @realDonaldTrump @tedcruz

CRUZ SCREWS HOOKERS

CRUZ / CLINTON
RT @RockCliffOne: Remember when the idea of a diabolical moron holding the world hostage was an idea for a funny movie? #Trump #GOP https:/…
RT @HillaryClinton: "Every day, another Republican bemoans the rise of Donald Trump... but [he] didn’t come out of nowhere." —Hillary
https…
RT @Dodarey: @DR8801 @SykesCharlie Charlie, let's see you get a straight "yes" or "no" answer from Cruz a/b being unfaithful to his wife @T…
RT @HillaryClinton: "Every day, another Republican bemoans the rise of Donald Trump... but [he] didn’t come out of nowhere." —Hillary
https…
RT @RockCliffOne: Remember when the idea of a diabolical moron holding the world hostage was an idea for a funny movie? #Trump #GOP https:/…
RT @immigrant4trump: @immigrant4trump msm, cable news attacking trump all day, from 8am to 10pm today, then the reruns come on, repeating t…
RT @immigrant4trump: @immigrant4trump msm, cable news attacking trump all day, from 8am to 10pm today, then the reruns come on, repeating t…
RT @GlendaJazzey: Donald Trump’s Campaign Financing Dodge, @rrotunda https://t.co/L8flI4lswG via @VerdictJustia
RT @TUSK81: LOUDER FOR THE PEOPLE IN THE BACK https://t.co/hlPVyNLXzx
RT @loopzoop: Well...put it back https://t.co/8Yb7BDT5VM
RT @claytoncubitt: Stop asking Bernie supporters if they’ll vote for Hillary against Trump. We got a plan to beat Trump already. Called Ber…
RT @akaMaude13: Seriously can't make this up. What a joke. #NeverTrump  https://t.co/JkTx6mdRgC

In [185]:
def count_entries(df, col_name = 'lang'):
    """Return a dictionary with counts of occurrences as value for each key."""
    
    # Initialize an empty dictioanry
    cols_count = {}
    
    # Add a try block
    try:
        col = df[col_name] # Extract column from DataFrame: col
        
        # Iterate over the column in DataFrame
        for entry in col:
            if entry in cols_count.keys():
                cols_count[entry] += 1
            else:
                cols_count[entry] = 1
        return cols_count
    # Add a except block
    except:
        print('The DataFrame does not have a ' + col_name + ' column.')
        
result_1 = count_entries(tweet, 'lang')

print(result_1)

The DataFrame does not have a lang column.
None